body {
  padding-bottom: 30px;
  visibility: hidden;
}

dt {
  line-height: 2em;
  background-color: #375a7f;
  border: 1px solid #375a7f;
  border-radius: 4px;
  min-height: 20px;
  padding: 6px;
  margin-bottom: 20px;
}
dd {
  margin-left: 1em;
  background-color: #303030;
  border: 1px solid transparent;
  border-radius: 4px;
  min-height: 20px;
  padding: 4px;
  margin-bottom: 20px;
}

.campus02-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.campus02-content > p > .btn {
  margin: 5px 0;
}

.campus02-content .navbar .container {
  width: auto;
}
