{% extends "base/layout.html" %}

{% block title %}WEB - HTTP - Authentication{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Authentication</h1>
</div>

<div class="alert alert-danger">
  <strong>
    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
  </strong>
  Ihr Passwort oder ihr Benutzername sind nicht korrekt!
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      Anmeldeinformation
    </h3>
  </div>
  <div class="panel-body">
    Bitte verwenden Sie als Benutzername <span class="text-info">user</span> und als Passwort <span class="text-info">{{ password }}</span>.
  </div>
</div>
{% endblock %}
