{% extends "base/layout.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}WEB - HTTP - Expires{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Expires</h1>
</div>

<p>
Das aktuelle Expires-Datum (GMT) ist:
<code>{{ current|date:"Y-m-d H:i:s" }}</code>
</p>
<img src="{% url 'web:cache/expires/image' %}">
<div class="page-header">
  <h1>Expires setzen</h1>
</div>
{% crispy form form.helper %}
{% endblock %}

{% block stylesheets %}
<link href="{% static 'bootstrap-datetimepicker/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block scripts %}
  <script src="{% static 'moment/moment.min.js' %}"></script>
  <script src="{% static 'moment/locale/de-at.js' %}"></script>
  <script src="{% static 'bootstrap-datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
  <script>
  $(document).ready(function() {
    $('#id_expires').datetimepicker({
      locale: 'de-at',
      format: 'L LTS'
    });
  });
  </script>
{% endblock %}
