<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-link"></span>
    WEB
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li class="dropdown-header">HTTP</li>
    <li><a href="{% url 'web:redirect' %}">Redirect</a></li>
    <li><a href="{% url 'web:auth' %}">Authentication</a></li>
    <li><a href="{% url 'web:mime' %}">MIME-Types</a></li>
    <li class="dropdown-header">HTTP - Cache &amp; Proxy</li>
    <li><a href="{% url 'web:cache/expires' %}">Expires</a></li>
    <li><a href="{% url 'web:cache/etag' %}">Etag</a></li>
    <li><a href="{% url 'web:cache/control' %}">Cache-Control</a></li>
    <li><a href="{% url 'web:cookies' %}">Cookies</a></li>
    <li><a href="{% url 'web:session' %}">Session</a></li>
    <li><a href="{% url 'web:http2' %}">HTTP/2</a></li>
    <li role="separator" class="divider"></li>
    <li class="dropdown-header">HTML</li>
    <li><a href="{% url 'web:form-data' %}">Formular-Daten</a></li>
    <li role="separator" class="divider"></li>
    <li class="dropdown-header">RESTful</li>
    <li><a href="{% url 'web:api-pk:api-root' %}">API (Primärschlüssel)</a></li>
    <li><a href="{% url 'web:api-hl:api-root' %}">API (Hyperlink)</a></li>
  </ul>
</li>
