{% extends "base/layout.html" %}

{% load crispy_forms_tags %}

{% block title %}WEB - HTTP - Redirect{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Redirect</h1>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      Verwendung
    </h3>
  </div>
  <div class="panel-body">
    Wählen Sie die Art des HTTP-Redirects aus und geben Sie im Feld <span class="text-info">Location</span> die URL an, auf die Sie umgeleitet werden möchten.
    Klicken sie dann auf den Button <span class="text-info">Redirect</span> um den HTTP-Response auszulösen.
  </div>
</div>
{% crispy form form.helper %}
{% endblock %}
