{% extends 'base/layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="page-header">
  <h1>Passwort ändern</h1>
</div>

{% if form.errors %}
<div class="alert alert-danger" role="alert">
  Ihr altes Passwort ist nicht korrekt. Bitte versuchen Sie es erneut.
</div>
{% endif %}

<form method="post" action="{% url 'password_change' %}">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-lg btn-primary btn-block" type="submit">Passwort ändern</button>
</form>
{% endblock %}
